@model CarEnthusiast.Models.CarViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/addCar.css" />
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Add a car</h3>
    </div>
    @using (Html.BeginForm("Create", "Cars", FormMethod.Post, new { enctype = "multipart/form-data", @class = "custom__form"}))
    {
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Make)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Make, new { @class = "form-control w-50" })
                        @Html.ValidationMessageFor(m => m.Make, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Model)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Model, new { @class = "form-control w-50" })
                        @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Year)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Year, new { @class = "form-control w-50" })
                        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Image")
                    </td>
                    <td>
                        <div class="custom__image-container">
                            <label id="add-img-label" for="add-single-img">+</label>
                            <input type="file" name="UploadedImages" id="add-single-img" accept="image/*" multiple class="form-control w-50" />
                        </div>
                        @Html.ValidationMessageFor(m => m.UploadedImages, "", new { @class = "text-danger" })


                    </td>
                    <td>
                        <div id="custom__print-files"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Showroom)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Showroom, new { @class = "form-control w-50" })
                        @Html.ValidationMessageFor(m => m.Showroom, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <input id="car-submit" type="submit" value="Create" class="btn btn-primary" />
        </div>
    }

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script src="~/js/image.js" defer></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
