@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@model IEnumerable<CarEnthusiast.Models.Car>

@{
    ViewData["Title"] = "Index";
}

@{
    var user = await userManager.GetUserAsync(User);
    var userId = user?.Id;
}

@{
    var userCars = Model.Where(item => item.UserId == userId);
}






<h3 class="text-center">Collection</h3>
@foreach (var item in userCars)
{
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Make)</h2>
        </div>
        @if (item.Image != null)
        {
            <img class="card-img-top" src="@Url.Action("GetImage", "Cars", new { id = item.Id })" />
        }
        else
        {
            <span>No image available</span>
        }
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col-6">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Model)</p>
                    </div>
                    <div class="col-6">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Year)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Showroom)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
    
}


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showroom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</table>*@
