@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@model IEnumerable<CarEnthusiast.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    Layout = "";
}

@{
    var user = await userManager.GetUserAsync(User);
    var userId = user?.Id;
}

@{
    var userCars = Model.Where(item => item.UserId == userId);
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/Car.css" />



<h1 class="jumbotron text-center">Car Collection</h1>
<div class="container">
    <div class="row">
@foreach (var item in userCars)
{
    <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title text-center">@Html.DisplayFor(modelItem => item.Make)</h2>
        </div>
        @if (item.Image != null)
        {
            <img class="card-img-top" src="@Url.Action("GetImage", "Cars", new { id = item.Id })" />
        }
        else
        {
            <h2>No image available</h2>
        }
        <div class="card-body">
            <div class="card-text">
                <div class="row">
                    <div class="col">
                                    <p class="card-text name"> @Html.DisplayNameFor(model => model.Model):</p>
                    </div>   
                    <div class="col">
                                    <p class="card-text desc">@Html.DisplayFor(modelItem => item.Model)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                                    <p class="card-text name">@Html.DisplayNameFor(model => model.Year):</p>
                    </div>
                    <div class="col">
                                    <p class="card-text desc">@Html.DisplayFor(modelItem => item.Year)</p>
                    </div>
                    </div>
                <div class="row">
                    <div class="col">
                                    <p class="card-text name">@Html.DisplayNameFor(model => model.Showroom):</p>
                    </div>
                    <div class="col">
                                    <p class="card-text desc">@Html.DisplayFor(modelItem => item.Showroom)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
    </div>
    
}
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>