@using Microsoft.AspNetCore.Identity
@using CarEnthusiast.Models
@using System.Net.Mail
@model IEnumerable<Car>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	Layout = null;
}
<!Doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Car Enthusiast</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">	
	@*<link rel="stylesheet" href="~/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css" />*@
	<link rel="stylesheet" href="~/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" href="~/css/slider.css" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/style.css" crossorigin="anonymous">
</head>
<body>
	<!-- Header -->
	<div class="allcontain">
		<div class="header">
			<ul class="socialicon">
				<li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
				<li><a asp-controller="Cars" asp-action="Land"><i class="fa fa-car"></i></a></li>
				<li><a asp-controller="Chat" asp-action="Chat"><i class="fa fa-comments-o"></i></a></li>
				<li><a asp-controller="Home" asp-action="Privacy"><i class="fa fa-user-secret"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li>Give us a call : +666 </li>
			</ul>
			<ul class="logreg">
				@if (SignInManager.IsSignedIn(User))
				{
					MailAddress email = new MailAddress(UserManager.GetUserName(User));
					var username = email.User;
					<li>
						<p id="greetings">Hello @username</p>
					</li>
					<li>
						<form id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = ""})">
						<button id="logout" type="submit" class="">Logout</button>	
						</form>
					</li>

				}
				else
				{
					<li>
						<a class="" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
					</li>
					<li>
						<a class="" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
					</li>
				}
			</ul>
		</div>
		<!-- Navbar Up -->
		<nav class="topnavbar navbar-default topnav">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand logo" href="#"><img src="~/Assets/images/logo1.png" alt="logo"></a>
				</div>
			</div>
		</nav>
	</div>
	<!--_______________________________________ Carousel__________________________________ -->
	<div class="allcontain">
		<div id="carousel-up" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner " role="listbox">
				<div class="carousel-item active">
					<img src="~/Assets/images/oldcar.jpg" alt="oldcar">
					<div class="carousel-caption">
						<h2>Porsche 356</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur ,<br>
							sed do eiusmod tempor incididunt ut labore
						</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="~/Assets/images/porche.jpg" alt="porche">
					<div class="carousel-caption">
						<h2>Porche</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur ,<br>
							sed do eiusmod tempor incididunt ut labore
						</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="~/Assets/images/benz.jpg" alt="benz">
					<div class="carousel-caption">
						<h2>Car</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur ,<br>
							sed do eiusmod tempor incididunt ut labore
						</p>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carousel-up" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carousel-up" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>

			</div>
		</div>
	</div>
	<!-- ____________________Featured Section ______________________________-->
	<div class="allcontain">
		<div class="feturedsection">
			<h1 class="text-center">
				<span class="bdots">&bullet;</span>F E A T U R E D<span class="carstxt">
					C A R S
				</span>&bullet;
			</h1>
		</div>
		<div class="feturedimage">
			<div class="row firstrow">
				<div class="col-lg-6 costumcol colborder1">
					<div class="row costumrow">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
							<img src="~/Assets/images/featurporch.jpg" alt="porsche">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
							<div class="featurecontant">
								<h1>LOREM IPSUM</h1>
								<p>
									"Lorem ipsum dolor sit amet, consectetur ,<br>
									sed do eiusmod tempor incididunt
								</p>
								<h2>Price &euro;</h2>
								<button id="btnRM" onclick="rmtxt()">READ MORE</button>
								<div id="readmore">
									<h1>Car Name</h1>
									<p>
										"Lorem ipsum dolor sit amet, consectetur ,<br>
										sed do eiusmod tempor incididunt <br>"Lorem ipsum dolor sit amet, consectetur
										,<br>
										sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1 ,
										sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1
										sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1<br>
									</p>
									<button id="btnRL">READ LESS</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 costumcol colborder2">
					<div class="row costumrow">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
							<img src="~/Assets/images/featurporch1.jpg" alt="porsche1">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
							<div class="featurecontant">
								<h1>LOREM IPSUM</h1>
								<p>
									"Lorem ipsum dolor sit amet, consectetur ,<br>
									sed do eiusmod tempor incididunt
								</p>
								<h2>Price &euro;</h2>
								<button id="btnRM2">READ MORE</button>
								<div id="readmore2">
									<h1>Car Name</h1>
									<p>
										"Lorem ipsum dolor sit amet, consectetur ,<br>
										sed do eiusmod tempor incididunt <br>"Lorem ipsum dolor sit amet, consectetur
										,<br>
										sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1 ,
										sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1
										sed do eiusmod tempor incididunt"Lorem ipsum dolor sit amet, consectetur1<br>
									</p>
									<button id="btnRL2">READ LESS</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ________________________LATEST CARS SECTION _______________________-->
		<div class="latestcars">
			<h1 class="text-center">&bullet; LATEST CARS &bullet;</h1>
		</div>
		<br>
		<br>
		<!-- ________________________Latest Cars Image Thumbnail________________-->
		<div class="grid">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							@if (item.CarImages != null && item.CarImages.Count > 1)
							{
								<div id="carousel-@item.Id" class="carousel slide" data-bs-slide="carousel">
									<div class="carousel-inner">
										@for (int i = 0; i < item.CarImages.Count; i++)
										{
											var imageData = item.CarImages[i].ImageData;
											var imageBase64 = Convert.ToBase64String(imageData);
											var imageUrl = $"data:image/jpg;base64, {imageBase64}";

										<div class="carousel-item @(i == 0 ? "active" : "")">
												<div class="txthover">
												<img class="carousel-img" id="image-@(i + 1)"  src="@imageUrl" alt="Image @(i +1)">
												<div class="txtcontent">
													<div class="stars">
														<div class="glyphicon glyphicon-star"></div>
														<div class="glyphicon glyphicon-star"></div>
														<div class="glyphicon glyphicon-star"></div>
													</div>
													<div class="simpletxt">
														<h3 class="name">@Html.DisplayFor(modelItem => item.Make)</h3>
														<p>@Html.DisplayFor(modelItem => item.Model)</p>
														<p>@Html.DisplayFor(modelItem => item.Year)</p>
														<p>@Html.DisplayFor(modelItem => item.Showroom)</p>
														</div>
												</div>
											</div>
											</div>

										}
									</div>
									<a class="carousel-control-prev" href="#carousel-@item.Id" role="button" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
									</a>
									<a class="carousel-control-next" href="#carousel-@item.Id" role="button" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Next</span>
									</a>
								</div>
							}
					</div> 
				}
			</div>
		</div>
		<div class="d-flex align-items-center justify-content-center pb-4">
			<a class="btn btn-primary" asp-controller="Cars" asp-action="Add">Add new</a>
		</div>
		<!-- _______________________________News Letter ____________________-->
		<!-- ______________________________________________________Bottom Menu ______________________________-->
		<div class="bottommenu">
			<div class="bottomlogo">
				<span class="dotlogo">&bullet;</span><img src="~/Assets/images/collectionlogo1.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
			</div>
			<p>
				"Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor incididunt <br>
				eiusmod tempor incididunt
			</p>
			<img src="~/Assets/images/line.png" alt="line"> <br>
			<div class="bottomsocial">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
			</div>
			<div class="footer">
				<div class="copyright">
					&copy; Copyright 2023 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					Designed by <a href="#">Slimeto</a>
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/bootstrap-3.3.6-dist/js/jquery.js"></script>
	<script src="~/js/isotope.js"></script>
	<script src="~/js/script.js"></script>
	@*<script src="~/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>*@
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	@*<script src="/_framework/aspnetcore-browser-refresh.js"></script>*@
	<script>
		
	</script>
</body>
</html>