@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/register.css" />

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Car Enthusiast</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Cars" asp-action="Index">Cars</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Create an account</h2>
                <div class="form-outline">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-outline">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-outline">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="registerSubmit" type="submit" class="btn-primary">Register</button>
                </div>
                <div class="already">
                    <p>
                        Already have an account? &nbsp;<a class="already" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </p>
                </div>

            </form>

        </div>
    </div>
</section>
<section>
    <hr />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                        article
                        about setting up this ASP.NET application to support logging in via external services
                    </a>.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="">
                <div class="text-center">
                    <p class="text-center">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="~/Assets/google.svg" class="googleIco" />@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
